<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>formularios</title>
	  <link rel="stylesheet" href="../css/bootstrap.min.css">
	  <link rel="stylesheet" href="../css/metisMenu.min.css">
	  <link rel="stylesheet" href="../font-awesome.min.css">
	  <link rel="stylesheet" href="../css/forms.css">
	  <script src="styles/js/jquery.js"></script>
	  <script src="styles/js/jquery.dataTables.js"></script>
</head>
<body>
	<dic class="col-lg-6">
        <div class="panel-heading"><i class="fa fa-plus"></i>REGISTRO DE NUEVO MODULO</div>
            <div id="result"></div>
                <div class="form-group">
                  <div class="col-lg-3">
                     <label for="user">Usuario</label>
                  </div>
                  <div class="col-lg-9">
                    <input type="text" id="user" class="form-control" placeholder="ingrese usuario" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-3">
                    <label for="pass">Contraseña</label>
                  </div>
                  <div class="col-lg-9">
                    <input type="text" id="pass" class="form-control" placeholder="ingrese contraseña" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-3">
                    <label for="name">Nombre</label>
                  </div>
                  <div class="col-lg-9">
                    <input type="text" id="name" class="form-control" placeholder="ingrese nombre" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-3">
                    <label for="dni">DNI</label>
                  </div>
                  <div class="col-lg-9">
                    <input type="text" id="dni" class="form-control" placeholder="ingrese numero de DNI" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-3">
                  </div>
                  <div class="col-lg-9">
                     <input type="button" id="registrar" class="btn btn-success" value="Guardar registro">
                     <a href="index.php?view=index" class="btn btn-danger">Cancelar</a>
                  </div>
                </div>
        </dic>
</body>
</html>